﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example programe</title>
    <link rel="stylesheet" href="./style/bootstrap.min.css" />
    <link rel="stylesheet" href="./style/stylesheet1.css" />
</head>
<body ng-app="myapp">
           <div id="mynav" class="navbar navbar-default">
               <div class="nav navbar-header header"><a class="navbar-brand" href="#"><img id="navimg" src="./image/img3.jpg" /></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">click here</button>
            </div>
              <div id="collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">why stack?</a></li>
                    <li><a href="#">solutions</a></li>
                    <li><a href="#">resources</a></li>
                    <li><a href="#">pricing</a></li>
                </ul>
              </div>
           </div>
    <div id="topdiv">
        <p>join us at frontiers, a conference by slack, Sf & SYC<button class="btn btn-default mybtn">Register now</button></p>
    </div>
    <div id="middlediv">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12"><img  src="./image/img1.jpg" alt="image"/></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
            <h1>where works</h1>
            <h1>happens</h1>
                 <p>where work your team needs to kick off a project,hire a new <br />employee, depley some code, review a sales contract, finalize<br>next year budget,measure an A/B test, plan your next office<br />opening, and more slack as you covered.</p>
               <form action="http//google.com">
                   <input type="text" placeholder="email address" required/> <button class="btn btn-default mybtn">Get started</button>
               </form>
            </div>
        </div>
    </div>
    <!-- <div ng-controller="myctrl">
        {{name}}
    </div> -->
    <div id="bottomdiv">
        <div class="row">
            <h2>Explore more about</h2>
            <div class="col-md-3 col-xs-12 overing"><img class="overimg" src="./image/img4.jpg" alt="img">
            <h2>how fastly uses slack connected to <br>wow enterprise<br>customer</h2>
            </div>
            <div class="col-md-3 col-xs-12 overing"><img class="overimg" src="./image/img5.jpg" alt="img">
            <h2>how fastly uses slack connected to <br>wow enterprise<br>customer</h2>
            </div>
            <div class="col-md-3 col-xs-12 overing"><img class="overimg" src="./image/img6.jpg" alt="img">
            <h2>how fastly uses slack connected to <br>wow enterprise<br>customer</h2>
            </div>
            <div class="col-md-3 col-xs-12 overing"><img class="overimg" src="./image/img7.jpg" alt="img">
            <h2>how fastly uses slack connected to <br>wow enterprise<br>customer</h2>
            </div>
        </div>
    </div>
    <script src="./script/jquery.min.js"></script>
    <script src="./script/angular.min.js"></script>























    <script src="./script/bootstrap.min.js"></script>
    <script src="./script/script1.js"></script>
</body>
</html>